
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
build
node_modules/
npm-debug.log
target
node
src/_tmp
dist
coverage
.nyc_output
.tmp
.DS_Store
bundle.js
bundle.js.map
bundle.map.js
venv/
*.pyc
*.css.map
__pycache__/
idea
idea/
.idea
.idea/
